.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/
*.log
*.lock
**/ephemeral/
**/Generated.xcconfig
**/flutter_export_environment.sh
**/local.properties
**/generated_plugin_registrant.*
**/generated_plugins.cmake
**/FlutterGeneratedPluginSwiftPackage/
.cockpit/
cockpit-artifacts/
